<template>
   <v-app>
    <dashboard-core-app-bar />
    <dashboard-core-view />
   </v-app>
</template>

<script>
  export default {
    name: 'DashboardIndex',

    components: {
      DashboardCoreAppBar: () => import('@/components/AppBar'),
      DashboardCoreView: () => import('@/components/View')
   

    },

  }
</script>
