<template>
  <div>
    <v-layout justify-center>
      <v-flex xs12 sm6 md4 lg36> 
        <v-checkbox :disabled="!mostrar"
          color="warning" :depressed="!mostrar" 
          @click="!encuestaMultiple ? EliminarEncuesta() : null"
          hide-details
          v-model="encuestaMultiple"
          label="Encuesta Multiple"
        ></v-checkbox>  
        <v-text-field
          class="ma-2" 
          :error-messages="erroresNombres"
          @blur="$v.nameEncuesta.$touch()"
            @keyup="$v.nameEncuesta.$touch()"
          autofocus
          filled  
          v-model="nameEncuesta"
          required
          label="Ingrese un Nombre para la Encuesta"
        >
        </v-text-field>
          <v-text-field
          class="ma-2" 
          :error-messages="erroresIntentos"
          @blur="$v.intentos.$touch()"
          @keyup="$v.intentos.$touch()"
          filled   type="number"
          v-model="intentos" min="1"
          label="Numero de Intentos"
        >
        </v-text-field>
      </v-flex>
    </v-layout>
    <v-layout v-if="encuestaMultiple" justify-center>
      <v-badge left v-if="encuestaMultiple" class="ma-1"
        ><span slot="badge">{{ arrayTotal.length }}</span>
      </v-badge>
      <span v-if="encuestaMultiple" class="caption"
        >¿cuantas encuestas desea agregar?</span
      >
      <v-btn class="mx-1" :disabled="!mostrar" :depressed="!mostrar" @click="AgregarDetalle()" x-small fab color="info"
        ><v-icon>add</v-icon></v-btn
      >

      <v-btn @click="DisminuirDetalle()" :disabled="!mostrar"  v-if="arrayTotal.length>1" :depressed="!mostrar"  x-small fab color="red"
        ><v-icon>indeterminate_check_box</v-icon></v-btn
      >
    </v-layout>

    <v-layout wrap justify-center v-if="arrayTotal.length">
      <v-flex
        xs12
        sm8
        md6 
        lg6
        v-for="(encuesta, index) in arrayTotal"
        :key="index"
      >
        <Formato  v-show="mostrar" 
          :_nameEncuesta="nameEncuesta"
          :_codigo="codigoEncuesta" :_intentos="parseInt(intentos)"
          class="ma-1"
        />
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import {
  required,numeric	
} from "vuelidate/lib/validators";
import { mapState } from "vuex";
import {titulo } from '@/utils/validaciones'
export default {
  components: {
    Formato: () => import("./FormatoPregunta.vue"),
  },
 
  props: ["_codigo", "_nameEncuesta","_intentos"],
  data() {
    return {
      mostrar:false,
      nombreEncuestaRules: [(v) => !!v || "Es requerido"],
      encuestaMultiple: false,
      totalEncuestas: 1,
      arrayTotal: [{ count: 1 }],
      codigoEncuesta: "",
      nameEncuesta: "",
      intentos: 1
    };
  },
validations: {
      nameEncuesta:{
          required,
           titulo
      },
      intentos:{
         required,
         numeric
      }

    },
  methods: {
  
    AgregarDetalle() {
      this.arrayTotal.unshift({
        count: 1,
      });
      this.$vuetify.drawer = false;
    },
    DisminuirDetalle() {
      this.arrayTotal.splice(1, 1);
    },
    EliminarEncuesta() {
      this.arrayTotal.splice(1);
    },

    uniqid(a = "", b = false) {
      const c = Date.now() / 1000;
      let d = c.toString(16).split(".").join("");
      while (d.length < 14) d += "0";
      let e = "";
      if (b) {
        e = ".";
        e += Math.round(Math.random() * 100000000);
      }
      return a + d + e;
    },
  },
  created() {
    this.codigoEncuesta = this.uniqid("", this.usuario.dni);
  },
  computed: {
    ...mapState("sesion", ["usuario"]),
   erroresNombres() {
      let errores = [];
      let me = this
      if (!this.$v.nameEncuesta.$dirty) {
        return errores;
      }
      if (!this.$v.nameEncuesta.required) {
        errores.push("Ingresa Titulo");
      }
      if (!this.$v.nameEncuesta.titulo) {
        errores.push("Ingresa un Titulo Valido");
      }
       
      if(errores.length==0){
      me.mostrar = true
      }else{
      me.mostrar = false
      }
      return errores;

    },
      erroresIntentos() {
      let errores = [];
      if (!this.$v.intentos.$dirty) {
        return errores;
      }

      if (!this.$v.nameEncuesta.required) {
        errores.push("Intento es Requerido");
      }
      if (!this.$v.intentos.numeric) {
        errores.push("Ingresa un numero válido");
      }

       return errores;
    },
  },
};
</script>