<template>
  <div>
    <v-progress-linear
      indeterminate
      v-if="loading"
      color="yellow darken-2"
    ></v-progress-linear>
    <v-card>
      <v-toolbar height="40" color="color_base">MIS ENCUESTAS</v-toolbar>
      <v-simple-table fixed-header height="400px">
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">Fecha</th>
              <th class="text-left">Nombre</th>
              <th class="text-left">Preguntas</th>
              <th class="text-left">detalles</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, i) in cuestionarios" :key="i">
              <td>
                {{ formatear(item.date) }}
              </td>
              <td>
                {{
                  item.nombre.length > 31
                    ? item.nombre.substr(0, 31) + "..."
                    : item.nombre
                }}
              </td>
              <td>
                <v-btn
                  target="_blank"
                  x-small
                  color="warning"
                  dark
                  :to="{ name: 'encuesta', params: { id: item.id } }"
                  ><v-icon>link</v-icon>Ver</v-btn
                >
              </td>
              <td v-if="movil">
                <v-btn
                  @click="compartir(item.question, item.id)"
                  fab
                  x-small
                  color="warning"
                >
                  <v-icon>share</v-icon>
                </v-btn>
              </td>
              <td v-else>
                <v-btn
                  class="mr-4"
                  fab
                  x-small
                  color="color_base"
                  @click="copyText(i)"
                  ><v-icon>share</v-icon></v-btn
                >
                <input
                  :value="
                    'https://cuestionariodifods.web.app/encuesta/' + item.id
                  "
                  readonly
                  style="
                    font-size: 1px;
                    color: #223d4b;
                    background-color: #2b7093;
                  "
                  type="text"
                  :id="'valor' + i"
                  ref="textToCopy"
                />
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
       <v-alert v-model="alert" border="left" color="deep-purple accent-4" dark>
        El Link de la encuesta ha sido Copiado en el Portapapeles
      </v-alert>
      <v-row justify="center">
        <v-col cols="8">
          <v-container class="max-width">
            <v-pagination
              v-model="page"
              @previous="anterior()"
              class="my-4"
              @next="siguiente()"
              :length="paginas"
              @input="cambiar()"
            ></v-pagination>
          </v-container>
        </v-col>
      </v-row>
     
    </v-card>
  </div>
</template>
<script>
import { db } from "@/firebase";
import { mapState } from "vuex";

export default {
  name: "creados",
  data: () => ({
    dialog: false,
    cuestionarios: [],
    loading: false,
    uid: "",
    movil: true,
    alert: false,
    preguntas: [],
    total: 0,
    paginas: 0,
    porPage: 7,
    page: 1,
  }),
  methods: {
    async consultar() {
      try {
        this.loading = true;
        await db
          .collection("encuestas")
          .where("uid", "==", this.uid)
          .get()
          .then((res) => {
            this.total = res.size;
            console.log(this.total);
            this.paginas = Math.ceil(this.total / this.porPage);
          });

        const doc = await db
          .collection("encuestas")
          .orderBy("date", "desc")
          .limit(this.porPage)
          .where("uid", "==", this.uid)
          .get();

        //const datos = [];
        doc.forEach((element) => {
          let data = element.data();
          this.cuestionarios.push(data);
        });
        // this.cuestionarios = datos.reverse();
      } catch (error) {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },
    async cambiar() {
   /**
    * 
    * 
    *    this.cuestionarios = [];
      const doc = await db
        .collection("encuestas")
        .orderBy("date")
        .startAfter(this.porPage * (this.page - 1))
        .limit(this.porPage)
        .where("uid", "==", this.uid)
        .get();

      const datos = [];

      doc.forEach((element) => {
        let data = element.data();
        datos.push(data);
      });
      this.cuestionarios = datos.reverse();
    * 
    */
    },
    async siguiente() {
      this.loading = true;
      const doc = await db
        .collection("encuestas")
        .orderBy("date")
        .startAfter(this.porPage * (this.page - 1))
        .limit(this.porPage)
        .where("uid", "==", this.uid)
        .get();
    
      const datos = [];
      this.cuestionarios = [];
      doc.forEach((element) => {
        let data = element.data();
        datos.push(data);
      });
      this.cuestionarios = datos ;
      this.loading = false;
    },
    async anterior() {
      this.loading = true;
      const doc = await db
        .collection("encuestas")
        .orderBy("date")
        .startAfter(this.page * (this.page - 1))
        .limitToLast(this.porPage)
        .where("uid", "==", this.uid)
        .get();

      const datos = [];
      this.cuestionarios = [];
      doc.forEach((element) => {
        let data = element.data();
        datos.push(data);
      });
      this.cuestionarios = datos.reverse();
      this.loading = false;
    },
    async consultarPreguntas(id) {
      try {
        const doc = await db
          .collection("encuestas")
          .doc(id)
          .collection("preguntas")
          .get();

        const datos = [];
        doc.forEach((element) => {
          let data = element.data();
          datos.push(data);
        });

        this.preguntas = datos.reverse();
      } catch (error) {
        console.log(error);
      }
    },
    compartir(texto, codigo) {
      if (navigator.share) {
        navigator.share({
          title: "Encuesta DIFODS",
          text: texto,
          url: "https://cuestionariodifods.web.app/encuesta/" + codigo,
        });
      }
    },
    copyText(i) {
      this.alert = true;
      let input = document.getElementById("valor" + i);
      input.select();
      document.execCommand("copy");
      let me = this;
      setTimeout(function () {
        me.alert = false;
      }, 2000);
    },
    formatear(timestamp) {
      const a = new Date(timestamp);
      const months = [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Setiembre",
        "Octubre",
        "Noviembre",
        "Diciembre",
      ];
      const year = a.getFullYear();
      const month = months[a.getMonth()];
      const date = a.getDate();
      const fecha = date + " de " + month + " del " + year;
      return fecha;
    },
  },
  computed: {
    ...mapState("sesion", ["usuario"]),
  },
  created() {
    this.uid = this.usuario.uid;
    this.consultar();
    if (navigator.share) {
      this.movil = true;
    } else {
      this.movil = false;
    }
  },
};
</script>