<template>
  <div>
    <v-card v-if="loading">
      <v-progress-linear indeterminate color="color_base"></v-progress-linear>
    </v-card>

    <v-card v-else class="mx-auto" color="color_base" dark max-width="650">
      <span class="ma-2 caption"> {{ datosgenerales.nombre }}</span
      ><br />
      <v-btn v-if="!dialog" x-small class="ma-1" @click="dialog = true"
        >agregar mis datos</v-btn
      >
      <span class="caption ma-1">{{
        formatear(encuesta[0].detalles.date)
      }}</span>
      <div v-for="(data, index) in encuesta" :key="index">
        <Pregunta
          v-on:Respuesta="onRespuestaEncuesta"
          :_nombres="nombres"
          :_index="index"
          :_dni="dni"
          :_pregunta="data"
          :_detalles="datosgenerales"
          :_idencuesta="idencuesta"
        />
      </div>
     
        <v-card-text>
           <v-layout justify-center>
             <v-btn color="primary" @click.prevent="Enviar()">Enviar</v-btn>
            </v-layout>
        </v-card-text>
     

      <v-row justify="center">
        <v-dialog :persistent="!usuario" v-model="dialog" max-width="310">
          <v-card>
            <v-form
              ref="form"
              v-model="valid"
              lazy-validation
              @submit.prevent="submit"
            >
              <v-toolbar height="30" color="color_base">
                Agregue sus Datos
              </v-toolbar>
              <v-card-text>
                <v-text-field
                  autofocus
                  outlined
                  autocomplete="off"
                  :rules="dniRules"
                  v-model="dni"
                  label="Agregue su DNI"
                >
                </v-text-field>
                <v-text-field
                  outlined
                  :rules="nombresRules"
                  v-model="nombres"
                  autocomplete="off"
                  label="Agregue sus Nombres Completos"
                >
                </v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  @click="pedirDatos()"
                  :disabled="!valid"
                  :depressed="!valid"
                  small
                  color="warning"
                >
                  Confirmar
                </v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-dialog>
      </v-row>
    </v-card>
    <router-view></router-view>
  </div>
</template>

<script>
import { db } from "@/firebase";
import { mapState, mapMutations } from "vuex";
import { nombreCompuesto } from "@/utils/validaciones";
import Pregunta from "./Pregunta";
export default {
  name: "encuesta",
  components: {
    Pregunta,
  },
  props: [
    "_pregunta",
    "_dni",
    "_nombres",
    "_idencuesta",
    "_detalles",
    "_index",
  ],
  data: () => ({
    dniRules: [
      (v) => !!v || "Dni Es requerido",
      (v) => /^[0-9]+$/.test(v) || "Numero no válido",
      (v) => v.length == 8 || "Dni debe tener 8 digitos",
    ],
    nombresRules: [
      (v) => !!v || "Ingrese Nombres Completos",
      (v) => /^[a-zA-Z ñíóúáé]/.test(v) || "Nombres no válido",
      (v) => nombreCompuesto(v) || "Nombres no válido",
    ],
    valid: false,
    dialog: true,
    encuesta: [],
    loading: false,
    idencuesta: "",
    dni: "",
    nombres: "",
    datosgenerales: [],
    respuestas: [],
  }),
  computed: {
    ...mapState("sesion", ["usuario"]),
  },
  methods: {
    ...mapMutations([
      "mostrarOcupado",
      "ocultarOcupado",
      "mostrarExito",
      "mostrarError",
      "mostrarAdvertencia",
    ]),
    onRespuestaEncuesta(data, index) {
      if (this.respuestas[index]) {
        this.respuestas[index].dni = data.dni;
        this.respuestas[index].nombres = data.nombres;
        this.respuestas[index].idencuesta = data.idencuesta;
        this.respuestas[index].respuesta = data.respuesta;
        this.respuestas[index].idopcion = data.idopcion;
        this.respuestas[index].idpregunta = data.idpregunta;
        this.respuestas[index].fecha = data.fecha;
      } else {
        this.respuestas.push(data);
      }
    },

    async consultar() {
      try {
        this.mostrarOcupado({
          titulo: "Cargando Datos",
          mensaje: "espere un momento...",
        });
        this.loading = true;
        const doc = await db
          .collection("encuestas")
          .doc(this.idencuesta)
          .collection("preguntas")
          .get();
        if (doc.size == 0) {
          this.mostrarError("No encontramos lo que buscabas");
          this.$router.push({ name: "mis-encuestas" });
        }
        const datos = [];
        doc.forEach((element) => {
          let data = element.data();
          datos.push(data);
        });

        this.encuesta = datos.reverse();
        await this.consultarDatos();
      } catch (error) {
        console.log(error);
        this.mostrarError("Ocurrió un error...");
      } finally {
        this.loading = false;
        this.ocultarOcupado();
      }
    },
    async consultarDatos() {
      const doc = await db
        .collection("encuestas")
        .doc(this.idencuesta)
        .get();
      this.datosgenerales = doc.data();
    },
    async Enviar() {
    
      try {
        this.mostrarOcupado({
          titulo: "Guardando Informacion",
          mensaje: "Espere un momento...",
        });
        for (var i = 0; i < this.respuestas.length; i++) {
        if (
          this.respuestas[i].respuesta == "" ||
          this.respuestas[i].respuesta == null
        ) {
          this.mostrarError("¡Complete todo los campos!");
          return;
        }
      }
        /*const act = await db
          .collection("encuestas")
          .doc(this._idencuesta)
          .collection("preguntas")
          .doc(id);
        act.update({
          respuestas: firebase.firestore.FieldValue.arrayUnion(),
        });
        this.correcto = true;
        this.respuesta = "";
        return;*/
        //}

        /*if (this._pregunta.detalles.respuesta == this.respuesta) {
          const doc = await db
            .collection("encuestas")
            .doc(this._idencuesta)
            .collection("preguntas")
            .doc(id);
          doc.update({
            respuestas: firebase.firestore.FieldValue.arrayUnion(usuario),
          });

          this.mostrarExito("tu Respuesta fue grabada Correctamente.");
          this.correcto = true;
        } else {
          this.intentos = this.intentos + 1;
          this.mostrarAdvertencia(
            "se te asignó " +
              this._detalles.intentos +
              " intentos" +
              " y usaste " +
              this.intentos +
              (this.intentos > 1 ? " intentos" : " intento")
          );
          if (
            this.intentos === this._detalles.intentos ||
            this.intentos >= this._detalles.intentos
          ) {
            this.mostrarExito("tu respuesta se guardó Correctamente.");
            const act = await db
              .collection("encuestas")
              .doc(this._idencuesta)
              .collection("preguntas")
              .doc(id);
            act.update({
              respuestas: firebase.firestore.FieldValue.arrayUnion(usuario),
            });
            this.correcto = true;
            this.confirmado = false;

            return;
          }
          this.respuesta = "";

          return;
        }*/
      } catch (error) {
        console.log(error);
        this.mostrarError("Ocurrió un errror!");
      } finally {
        this.ocultarOcupado();
      }
    },
    pedirDatos() {
      this.dialog = false;
      this.consultar();
      this.mostrarExito("Ahora ya puedes responder las preguntas");
    },

    formatear(timestamp) {
      const a = new Date(timestamp);
      const months = [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Setiembre",
        "Octubre",
        "Noviembre",
        "Diciembre",
      ];
      const year = a.getFullYear();
      const month = months[a.getMonth()];
      const date = a.getDate();
      const time = date + " de " + month + " del " + year;
      return time;
    },
  },
  created() {
    this.idencuesta = this.$route.params.id;
    this.consultar();
    if (this.usuario) {
      this.dialog = false;
    }
  },
};
</script>
