<template>
  <div>
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="formulario"
      >
        <v-toolbar height="25" dark color="color_base">ENCUESTA </v-toolbar>
        <v-container>
          <v-textarea
            rows="6"
            clear-icon="cancel"
            filled
            prepend-icon="comment"
            clearable
            label="Haz una Pregunta"
            :rules="opcionQuestion"
            v-model="question"
          ></v-textarea>

          <v-card-text>
            <v-btn
              v-show="!TipoRespuesta"
              color="color_base"
              @click="agregarDetalle()"
              dark
              top
              class="mt-6"
              fab
              absolute
              right
              small
              ><v-icon>add</v-icon></v-btn
            >
            <span v-show="!TipoRespuesta" class="caption">
              {{
                arrayDetalle.length >= 2
                  ? arrayDetalle.length + " opciones agregadas"
                  : ""
              }}</span
            >

            <div v-if="arrayDetalle.length">
              <v-responsive scrollable>
                <div
                  v-for="(detalle, index) in arrayDetalle"
                  :key="index"
                  v-show="!TipoRespuesta"
                >
                  <v-btn
                    class="mt-2 mr-1"
                    absolute
                    color="red"
                    right
                    dark
                    fab
                    x-small
                    v-if="arrayDetalle.length > 1"
                    @click="eliminarDetalle(index)"
                  >
                    <v-icon>close</v-icon>
                  </v-btn>
                  <v-text-field
                    prepend-icon="question_answer"
                    :rules="opcionRules"
                    v-model="detalle.text"
                    required
                    label="Añadir una Opción"
                    @keyup.enter="agregarDetalle()"
                  >
                  </v-text-field>
                  <span v-if="arrayDetalle.length == 1" class="caption"
                    >agregue al menos 2 opciones</span
                  >
                </div>

                <!--INICIO CAJA DE RETROALIMENTACION-->
                <div v-show="!TipoRespuesta">
                  <span v-if="arrayDetalle.length > 1" class="caption"
                    >AGREGUE RETROALIMENTACIÓN:</span
                  >
                  <v-textarea
                    v-if="arrayDetalle.length > 1"
                    rows="4"
                    clear-icon="cancel"
                    filled
                    prepend-icon="comment"
                    clearable
                    label="Retroalimentación"
                    v-model="retro"
                  ></v-textarea>
                </div>
                <!--FIN CAJA DE RETROALIMENTACION-->
              </v-responsive>
            </div>
          </v-card-text>
          <v-toolbar color="color_base" height="20">Opciones</v-toolbar>

          <v-checkbox
            hide-details
            color="warning"
            v-model="TipoRespuesta"
            label="Pregunta Abierta"
          ></v-checkbox>

          <v-checkbox
            hide-details
            color="warning"
            v-show="!TipoRespuesta"
            v-model="cuestionario"
            label="Cuestionario"
          ></v-checkbox>

          <v-card-text>
            <div v-show="!TipoRespuesta">
              Seleccione la Respuesta Correcta
              <v-checkbox
                v-show="cuestionario && !TipoRespuesta"
                hide-details
                v-for="(data, i) in arrayDetalle"
                :key="i"
                color="warning"
                v-model="respuesta"
                :value="data.text"
                :label="data.text"
                :rules="cuestionario ? cuestionarioRules : null"
              ></v-checkbox>
            </div>
          </v-card-text>

          <v-divider></v-divider>
          <v-card-actions>
            <v-layout justify-center>
              <v-btn
                v-if="!TipoRespuesta"
                :disabled="
                  !valid || arrayDetalle.length == 1 || question.length == 0
                "
                @click.prevent="guardar()"
                color="warning"
              >
                GRABAR
              </v-btn>

              <v-btn
                v-else
                :disabled="question.length == 0"
                @click.prevent="guardar()"
                color="warning"
              >
                GRABAR
              </v-btn>
            </v-layout>
          </v-card-actions>
        </v-container>
      </v-form>
    </v-card>
  </div>
</template>
<script>
import { db } from "@/firebase";
import { mapState, mapMutations } from "vuex";
export default {
  props: {
    _codigo: String,
    _nameEncuesta: String,
    _intentos: Number,
  },
  data() {
    return {
      arrayDetalle: [{ text: "", id: 0 }],
      valid: false,
      question: "",
      retro: "",
      status: "",
      total: 0,
      multiple: false,
      opcion: "",
      cuestionario: false,
      TipoRespuesta: false,
      respuesta: "",
      opcionRules: [(v) => !!v || "Es requerido"],
      cuestionarioRules: [(v) => !!v || "Es requerido"],
      opcionQuestion: [(v) => !!v || "Es requerido"],
      contar: 1,
    };
  },

  methods: {
    ...mapMutations([
      "mostrarOcupado",
      "ocultarOcupado",
      "mostrarExito",
      "mostrarError",
      "mostrarAdvertencia",
    ]),

    async guardar() {
      if (!this.TipoRespuesta) {
        if (this.arrayDetalle.length == 0) {
          this.mostrarError("Agregue al menos 2 opciones");
          return false;
        }
        if (this.cuestionario && this.respuesta == "") {
          this.mostrarError("Seleccione la respuesta correcta");
          this.valid = false;
          return false;
        }
      } else {
        this.arrayDetalle = [];
        this.respuesta = "";
      }

      if (
        this._nameEncuesta.length === 0 ||
        this._nameEncuesta === undefined ||
        this._nameEncuesta === null
      ) {
        this.mostrarError("Agregue Nombre de la Encuesta");
        return false;
      }
      if (
        this._intentos.length === 0 ||
        this._intentos < 1 ||
        this._intentos === undefined ||
        this._intentos === null
      ) {
        this.mostrarError("Agregue 1 Intento Valido");
        return false;
      }

      if (!this.usuario) return false;
      if (this.question == "" || this.question.length == 0) {
        this.mostrarAdvertencia("Ingrese Pregunta");
        return;
      }

      this.mostrarOcupado({
        titulo: "Guardando Informacion",
        mensaje: "Creando Encuesta",
      });

      try {
        await this.grabarEncuesta();
      } catch (error) {
        console.log(error);
        this.mostrarError("Ocurrió un error registrando...");
      }
    },
    async grabarEncuesta() {
      let idencuesta = this._codigo;
      let idPregunta = this.uniqid("", this.usuario.dni);
      let tituloEncuesta = this._nameEncuesta;

      const data = {
        detalles: {
          date: Date.now(),
          autor: this.usuario.dni,
          question: this.question,
          retro: this.retro,
          multiple: this.multiple,
          respuesta: this.respuesta,
          cuestionario: this.cuestionario,
          status: this.status,
          total: this.total,
          tipo: this.TipoRespuesta,
          uid: this.usuario.uid,
          id: idencuesta,
          pid: idPregunta,
        },
        options: this.arrayDetalle,
      };

      const general = {
        usuario: this.usuario.nombres,
        uid: this.usuario.uid,
        id: idencuesta,
        nombre: tituloEncuesta,
        intentos: this._intentos,
        date: Date.now(),
      };

      let batch = db.batch();

      batch.set(
        db
          .collection("encuestas")
          .doc(idencuesta)
          .collection("preguntas")
          .doc(idPregunta),
        data
      );

      batch.set(db.collection("encuestas").doc(idencuesta), general);

      this.mostrarOcupado({
        titulo: "Cargando Datos",
        mensaje: "espere un momento...",
      });

      try {
        await batch.commit();

        this.mostrarExito("Pregunta Guardada Correctamente!");
        this.arrayDetalle = [];
        this.question = "";
        this.cuestionario = "";
        this.respuesta = "";
        //this.$router.push({ name: "mis-encuestas" });
      } catch (error) {
        this.mostrarError("Ocurrió un error, Intentelo Nuevamente");
        console.log(error);
      } finally {
        this.ocultarOcupado();
      }
    },
    agregarDetalle() {
      this.respuesta = "";
      this.cuestionario = false;
      this.arrayDetalle.unshift({
        text: "",
        id: this.contar++,
      });
    },
    eliminarDetalle(index) {
      this.arrayDetalle.splice(index, 1);
    },

    uniqid(a = "", b = false) {
      const c = Date.now() / 1000;
      let d = c
        .toString(16)
        .split(".")
        .join("");
      while (d.length < 14) d += "0";
      let e = "";
      if (b) {
        e = ".";
        e += Math.round(Math.random() * 100000000);
      }
      return a + d + e;
    },
  },

  computed: {
    ...mapState("sesion", ["usuario"]),
  },
};
</script>
