<template>
  <div>
    <v-btn
      top
      right
      class="ma-1"
      x-small
      color="warning"
      dark
      v-if="usuario"
      :to="{
        name: 'resultados',
        params: { pid: _pregunta.detalles.pid, id: _pregunta.detalles.id },
      }"
      >VER RESPUESTAS</v-btn
    >
    <v-card-text>
      <v-textarea
        solo
        filled
        style="font-size: 12px"
        rows="6"
        readonly
        dense
        name="input-7-4"
        label="pregunta"
        :value="_pregunta.detalles.question"
      ></v-textarea>
    </v-card-text>
    <div v-if="_pregunta.detalles.tipo">
      <v-container fluid>
        <v-text-field
          filled
          :disabled="!confirmado"
          label="Ingresa tu respuesta"
          v-model="respuesta"
        />
        <v-btn
          :disabled="
            !confirmado ||
              !respuesta ||
              respuesta === '' ||
              respuesta.length == 0 ||
              respuesta == null
          "
          @click="grabar(_pregunta.detalles.pid)"
          >Guardar</v-btn
        >
      </v-container>
    </div>
    <div v-else>
      <v-container v-if="intentos <= _detalles.intentos" fluid>
        <div v-for="(res, i) in _pregunta.options" :key="i">
          <v-checkbox
            hide-details
            v-model="respuesta"
            @click="_Respuesta(res.id, _pregunta.detalles.pid)"
            :label="res.text"
            :value="res.text"
            color="warning"
          ></v-checkbox>
        </div>
        <!--INICIO TEXT AREA RETROALIMENTACIÓN-->
        <v-card-text
          v-show="
            _pregunta.detalles.respuesta === respuesta ||
              intentos === _detalles.intentos ||
              intentos >= _detalles.intentos
          "
        >
          <span> RETROALIMENTACIÓN</span>
          <v-textarea
            solo
            filled
            style="font-size: 13px; background: #3d3d3d"
            rows="4"
            readonly
            dense
            name="input-7-4"
            label="pregunta"
            :value="_pregunta.detalles.retro"
          ></v-textarea>
        </v-card-text>
        <!--FIN TEXT AREA RETROALIMENTACIÓN-->
      </v-container>
    </div>

    <v-card-actions>
      <v-list-item class="grow">
        <span v-if="_pregunta.respuestas">
          {{ _pregunta.respuestas.length }}
          {{
            _pregunta.respuestas.length > 1 ? "respuestas" : "respuesta"
          }}</span
        >
      </v-list-item>
    </v-card-actions>
  </div>
</template>
<script>
import { db, firebase } from "@/firebase";
import { mapMutations } from "vuex";
import { mapState } from "vuex";

export default {
  name: "Pregunta",
  props: {
    _pregunta: Object,
    _dni: String,
    _nombres: String,
    _idencuesta: String,
    _detalles: Object,
    _index:Number
  },
  data: () => ({
    respuesta: null,
    intentos: 0,
    codigoPregunta: 0,
    total: 0,
    encuesta: [],
    respuestaEncuesta: [],
    correcto: false,
    confirmado: true,
  }),
  methods: {
    ...mapMutations([
      "mostrarOcupado",
      "ocultarOcupado",
      "mostrarExito",
      "mostrarError",
      "mostrarAdvertencia",
    ]),
    _Respuesta(respId, idpregunta) {
  
      this.codigoPregunta = respId;
      let respuesta = {
        dni: this._dni,
        nombres: this._nombres,
        idencuesta: this._idencuesta,
        respuesta: this.respuesta,
        idopcion: this.codigoPregunta,
        idpregunta,
        fecha: Date.now(),
      };
      this.respuestaEncuesta = respuesta;
      this.$emit("Respuesta",respuesta,this._index)
    },

    async grabar(id) {
      if (this._dni == "" || this._nombres == "") {
        this.mostrarError(
          "Deberá Ingresar sus Datos para responder esta encuesta"
        );
        return;
      }

      try {
        /*this.mostrarOcupado({
          titulo: "Guardando Informacion",
          mensaje: "Espere un momento...",
        });
        */

        let usuario = {
          dni: this._dni,
          nombres: this._nombres,
          idencuesta: this._idencuesta,
          respuesta: this.respuesta,
          idopcion: this.codigoPregunta,
          idpregunta: id,
          fecha: Date.now(),
        };

        /*const doc = await db
          .collection("encuestas")
          .doc(this._idencuesta)
          .collection("preguntas")
          .doc(id)
          .get();

        this.encuesta = doc.data();
        if (this.encuesta.respuestas) {
          const result = this.encuesta.respuestas.filter(
            (data) => data.dni == this._dni
          );
          if (result.length) {
            this.mostrarError(
              "No se puede responder dos veces ,¡tu respuesta ya ha sido Grabada Correctamente!"
            );
            return;
          }
        }*/

        //if (this.intentos === this._detalles.intentos) {
        /*this.mostrarExito("tu respuesta se guardó Correctamente.");*/
        const act = await db
          .collection("encuestas")
          .doc(this._idencuesta)
          .collection("preguntas")
          .doc(id);
        act.update({
          respuestas: firebase.firestore.FieldValue.arrayUnion(usuario),
        });
        this.correcto = true;
        this.respuesta = "";
        return;
        //}

        /*if (this._pregunta.detalles.respuesta == this.respuesta) {
          const doc = await db
            .collection("encuestas")
            .doc(this._idencuesta)
            .collection("preguntas")
            .doc(id);
          doc.update({
            respuestas: firebase.firestore.FieldValue.arrayUnion(usuario),
          });

          this.mostrarExito("tu Respuesta fue grabada Correctamente.");
          this.correcto = true;
        } else {
          this.intentos = this.intentos + 1;
          this.mostrarAdvertencia(
            "se te asignó " +
              this._detalles.intentos +
              " intentos" +
              " y usaste " +
              this.intentos +
              (this.intentos > 1 ? " intentos" : " intento")
          );
          if (
            this.intentos === this._detalles.intentos ||
            this.intentos >= this._detalles.intentos
          ) {
            this.mostrarExito("tu respuesta se guardó Correctamente.");
            const act = await db
              .collection("encuestas")
              .doc(this._idencuesta)
              .collection("preguntas")
              .doc(id);
            act.update({
              respuestas: firebase.firestore.FieldValue.arrayUnion(usuario),
            });
            this.correcto = true;
            this.confirmado = false;
             
            return;
          }
          this.respuesta = "";

          return;
        }*/
      } catch (error) {
        console.log(error);
        this.mostrarError("Ocurrió un errror!");
      } finally {
        this.ocultarOcupado();
      }
    },
    formatear(timestamp) {
      const a = new Date(timestamp);
      const months = [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Setiembre",
        "Octubre",
        "Noviembre",
        "Diciembre",
      ];
      const year = a.getFullYear();
      const month = months[a.getMonth()];
      const date = a.getDate();
      const fecha = date + " de " + month + " del " + year;
      return fecha;
    },
    urlify(text) {
      var urlRegex = /(https?:\/\/[^\s]+)/g;
      return text.replace(urlRegex, function(url) {
        return '<a href="' + url + '">' + url + "</a>";
      });
    },
  },
  computed: {
    ...mapState("sesion", ["usuario"]),
  },
  created() {
    this.total =
      this._pregunta.respuestas != undefined
        ? this._pregunta.respuestas.length
        : 0;
  },
};
</script>
