<template>
  <div>
    <v-layout justify-center>
       
      <v-dialog persistent v-model="dialog" scrollable max-width="560px">
        <v-card outlined v-if="preguntas">
          <v-toolbar height="50" color="color_base">
            <Atras />
            Respuestas<br
          /></v-toolbar>

          <v-card-text style="height: 350px">
            <v-progress-linear
              v-if="loading"
              indeterminate
              color="yellow darken-2"
            ></v-progress-linear>
            <v-list flat>
              <v-list-item v-for="(item, i) in preguntas.respuestas" :key="i">
                <v-list-item-icon>
                  <v-avatar size="40" color="color_base">
                    <span class="white--text">{{
                      item.nombres.substr(0, 1).toUpperCase()
                    }}</span>
                  </v-avatar>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="item.nombres"></v-list-item-title>
                  <v-list-item-subtitle
                    v-text="'respuesta: ' + item.respuesta"
                  ></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card-text>
  

          <v-card-actions> </v-card-actions>
        </v-card>
        
      </v-dialog>
      
     
    </v-layout>
   
  </div>
</template>
<script>
import { mapState } from "vuex";
import Atras from "../../components/BtnAtras";
import { db } from "@/firebase";
export default {
  components: {
    Atras,
  },
  data: () => ({
    preguntas: [],
    idencuesta: "",
    idpregunta: "",
    dialog: true,
    loading: false,
  }),
  methods: {
    async consultarDato() {
      try {
        this.loading = true;
        const doc = await db
          .collection("encuestas")
          .doc(this.idencuesta)
          .collection("preguntas")
          .doc(this.idpregunta)
          .get();
        this.preguntas = doc.data();
      } catch (error) {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },
  },
  computed: {
    ...mapState("sesion", ["usuario"]),
  },
  created() {
    if (!this.usuario) this.$router.push({ name: "mis-encuestas" });
    this.idencuesta = this.$route.params.id;
    this.idpregunta = this.$route.params.pid;
    this.consultarDato();
  },
};
</script>