<template>
  <div>
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-list dense>
        <v-list-item to="/">
          <v-list-item-action>
            <v-icon >home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Inicio</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-if="usuario" to="/mis-encuestas">
          <v-list-item-action>
            <v-icon >message</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Mis Encuestas</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="usuario" :to="{ name: 'telegram' }">
          <v-list-item-action>
            <v-icon >open_in_new</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Telegram</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        
        <v-list-item v-if="!usuario" :to="{ name: 'login' }">
          <v-list-item-action>
            <v-icon >open_in_new</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Ingresar</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      
        <v-subheader class="mt-4 grey--text text--darken-1"
          >Encuestas</v-subheader
        >

        <v-list-item class="mt-2" v-if="usuario" link :to="{ name: 'crear-encuesta' }">
          <v-list-item-action>
            <v-icon >add</v-icon>
          </v-list-item-action>
          <v-list-item-title>Crear Encuesta</v-list-item-title>
        </v-list-item>

       
       
      </v-list>
    </v-navigation-drawer>
    
    <v-app-bar
      clipped-right
      height="52"
      app
      clipped-left
      color="color_base"
      dense
    >
      <v-app-bar-nav-icon
        v-if="!$route.meta.ocultarnav"
        @click.stop="drawer = !drawer"
      ></v-app-bar-nav-icon>
      <Atras v-if="$route.meta.ocultarnav" />
      <v-toolbar-title v-if="this.$route.params.titulo">
        {{
          this.$route.params.titulo
            ? this.$route.params.titulo.split("-").join(" ")
            : titulo
        }}
      </v-toolbar-title>
      <v-toolbar-title v-else>{{ titulo }} </v-toolbar-title>

      <v-layout justify-end>
        
     
      </v-layout>

      <v-btn
        class="movil mx-1"
        rounded
        text
        v-show="true"
        dark
        color="color_base"
        
      >
        
        <span v-if="usuario">{{ usuario.nombres }}</span>
        <span v-else>Visitante</span>
      </v-btn>

      <v-menu :close-on-click="true" :close-on-content-click="true">
        <template v-slot:activator="{ on }">
          <v-btn class="ml-3" color="color_base" fab small v-on="on">
            <v-icon>expand_more</v-icon>
          </v-btn>
        </template>

        <template>
          <v-card outlined max-width="400">
            <v-list dense>
              <v-list-item two-line>
                <v-list-item-avatar>
                  
                  <img
                
                    src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"
                    alt="usuario"
                  />
                </v-list-item-avatar>

                <v-list-item-content v-if="usuario">
                  <v-list-item-title>{{ usuario.userName }}</v-list-item-title>
                  <v-list-item-subtitle>logueado</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content v-else>
                  <v-list-item-title>Visitante</v-list-item-title>
                  <v-list-item-subtitle
                    ><v-btn x-small text to="/sesion/login"
                      >iniciar sesion</v-btn
                    ></v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
              <v-divider></v-divider>

         
              <v-list-item
                v-if="usuario"
                to="/crear-encuesta"
              >
                <v-list-item-icon>
                  <v-icon>add</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title
                    >Crear Encuesta</v-list-item-title
                  >
                </v-list-item-content>
              </v-list-item>

              <v-list-item v-if="usuario" @click="salir">
                <v-list-item-icon>
                  <v-icon>back</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>Salir</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
             
            </v-list>
          </v-card>
        </template>
      </v-menu>
    </v-app-bar>
  </div>
</template>
       
   
  

<script>
import { mapState, mapActions } from "vuex";
export default {
  components: {
    Atras: () => import("@/components/BtnAtras.vue"),
   
  },
  props: {
    source: String,
  },
  data: () => ({
    titulo: "Cuestionario Difods",
    drawer: null,
    search: false,
    colors: [
      "color_base",
      "secondary",
      "yellow darken-4",
      "red lighten-2",
      "orange darken-1",
    ],
    cycle: false
    
  }),
  methods: {
     ...mapActions("sesion", ["cerrarSesion"]),
    salir() {
      this.cerrarSesion();
      this.$router.push({ name: "login" });
    },
  },
  computed: {
    ...mapState("sesion", ["usuario"]),
   },
  created() {
    this.$vuetify.theme.dark = true;

     
  },
};
</script>
 <style>
 .color_base_secondary{
   background: #d5af5f;  
 }
.color_base{
background: #2b7093;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5682a3, #5682a3, #5682a3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2b7093, #5682a3, #5682a3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.theme--dark.v-application {
    background: #11303f;

}

.v-navigation-drawer__content{
   background: #11303f; 
}
 </style>
 