<template>
       <v-btn  @click="goBack" icon>
            <v-icon color="white">arrow_back</v-icon>
        </v-btn>
</template>
<script>
 
export default {
    name:'atras',
    methods:{
        goBack(){
            return this.$router.go('-1');
        }
    }
}
</script>