<template>
  <v-app>
    <dashboard-core-app-bar />
    <v-layout align-center justify-center>
    <v-flex xs12 sm8 md6 lg5 x14>
      <v-card  dark class="elevation-6" color="color_base">
        <v-card-text class="headline">No encontramos lo que buscabas</v-card-text>
        <v-card-text class="subheaeding">Verifica nuevamente</v-card-text>
        <v-card-actions>
          <v-btn :to="{name:'home'}" color="secondary">Regresar al Inicio</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>

   </v-app>
  
</template>
<script>
  export default {
    name: 'NotFound',

    components: {
       DashboardCoreAppBar: () => import('@/components/AppBar')
     },
  }
</script>