<template>
  <v-main>
    <div>
      <v-snackbar
        v-model="notificacion.vista"
        :color="notificacion.color"
        multi-line
        top
        :timeout="2150"
        dark
      >
        {{notificacion.mensaje}}
        <v-btn rounded icon @click="ocultarNotificacion">
         </v-btn>
      </v-snackbar>

      <v-dialog v-model="ocupado.vista" max-width="400" persistent>
        <v-card>
          <v-toolbar color="primary" dark>
            <v-toolbar-title>{{ocupado.titulo}}</v-toolbar-title>
          </v-toolbar>
          <v-card-text class="subheading" color="primary">{{ocupado.mensaje}}</v-card-text>
          <v-card-text>
            <v-progress-linear :indeterminate="true"></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
      <v-container>
        <router-view />
        <Home v-show="this.$route.name=='home'" />
      </v-container>
  </v-main>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "DashboardCoreView",

  components: {
    Home: () => import("@/views/Home"),

  },
  computed: {
    ...mapState(["notificacion", "ocupado"])
  },
  methods: {
    ...mapMutations([
      "ocultarNotificacion",
      "mostrarAdvertencia",
      "ocultarOcupado",
      "mostrarExito"
    ])
  }
};
</script>