<template>
  <div>
    <v-progress-linear
      indeterminate
      v-if="cargando"
      color="yellow darken-2"
    ></v-progress-linear>

    <v-card>
      <v-toolbar height="40" dark color="color_base"
        >Encuestas de Telegram
      </v-toolbar>
      <v-simple-table fixed-header height="400px">
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">Encuesta</th>
              <th class="text-left">Opciones</th>
              <th class="text-left">total</th>
              <th class="text-left">Multiples Respuestas</th>
              <th class="text-left">Anonimo</th>
              <th class="text-left">Finalizado</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(item, i) in cuestionarios" :key="i">
              <td>
                {{ item.detalles.poll.question }}
              </td>
              <td>
                <v-btn icon small><v-icon>calendar_today</v-icon></v-btn>
                <div v-for="(d, i) in item.detalles.poll.options" :key="i">
                  <v-badge
                    class="ma-1 mr-1 mb-4"
                    color="warning"
                    :content="d.voter_count ? d.voter_count : '0'"
                  >
                    <v-btn x-small> opcion: {{ d.text }} </v-btn>
                  </v-badge>
                </div>
              </td>
              <td v-if="item.detalles.poll">
                <v-badge
                  class="ma-1 mr-1 mb-4"
                  color="warning"
                  :content="item.detalles.poll.total_voter_count"
                >
                  votos totales
                </v-badge>
              </td>
              <td>
                {{ item.detalles.poll.allows_multiple_answers ? "SI" : "NO" }}
              </td>
              <td>
                {{ item.detalles.poll.is_anonymous ? "SI" : "NO" }}
              </td>
              <td>
                {{ item.detalles.poll.is_closed ? "SI" : "NO" }}
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card>

    <v-card class="my-3">
      <v-toolbar height="40" class="elevation-6" color="color_base" dark>
        <v-layout justify-center>
          <v-toolbar-title>Evaluacion</v-toolbar-title>
        </v-layout>
      </v-toolbar>
      <v-card-text>
        <v-layout justify-start>
          <v-text-field
            cache-items
            flat 
            hide-no-data
            append-icon="mdi-text-search"
            label="Ingrese Codigo"
            v-model="codigo"
            @keyup.enter="filtro()"
            outlined
            clearable
          ></v-text-field>
        </v-layout>
        <v-layout justify-center>
          <v-btn
            @click="filtro()"
            :disabled="!codigo"
            :depressed="!codigo"
            color="warning"
            >Consultar</v-btn
          >
        </v-layout>
      </v-card-text>
    </v-card>

    <v-layout justify-center>
      <v-progress-linear
        indeterminate
        v-if="loading"
        color="color_base"
      ></v-progress-linear>
    </v-layout>
    <v-card v-for="(item, i) in evaluacion" :key="i">
      <v-container>
        <v-row dense>
          <v-col cols="12" md="12">
            <v-card-text class="pa-1 ma-1" style="font-size: 9px">
              <v-icon>comment</v-icon>
              <v-btn text x-small style="font-size: 9px"
                >{{ item.message.from.first_name }} - @{{
                  item.message.from.username
                }}</v-btn
              >
              publicado el
              {{ formatear(item.message.date) }}
            </v-card-text>
            <v-card-text>
              <v-icon>groups</v-icon> {{ item.message.chat.title }}
            </v-card-text>
          </v-col>
          <v-col cols="12" md="12">
            <v-toolbar height="20" color="orange" dark>Publicacion</v-toolbar>
            <v-textarea
              filled
              rows="9"
              readonly
              :value="item.message.text"
            ></v-textarea>
          </v-col>
        </v-row>
        <v-simple-table
          id="citas"
          v-if="vistarespuesta"
          fixed-header
          height="300px"
        >
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">Nombre</th>
                <th class="text-left">Usuario</th>
                <th class="text-left">Mensaje</th>
                <th class="text-left">Archivo Adjunto</th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(data, i) in respuestas" :key="i">
                <td>
                  {{ data.detalles.message.from.first_name }}
                </td>
                <td>
                  @{{
                    data.detalles.message.from.username &&
                    data.detalles.message.from.username
                  }}
                </td>
                <td>
                  <span>
                    {{
                      data.detalles.message.text
                        ? data.detalles.message.text
                        : data.detalles.message.caption
                    }}</span
                  >
                </td>
                <td
                  v-if="
                    data.detalles.message.document ||
                    data.detalles.message.photo
                  "
                >
                  <v-btn
                    outlined
                    small
                    color="color_base"
                    @click="consultarFile(data.detalles)"
                    ><v-icon>attach_file</v-icon>Documento</v-btn
                  >
                </td>
                <td v-else></td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-container>
      <v-card-actions>
        <div>
          <v-btn
            class="ma-1"
            small
            outlined
            v-if="vistarespuesta"
            color="color_base"
            @click="vistarespuesta = false"
            >ocultar Respuestas</v-btn
          >
          <v-btn
            small
            @click="buscarRespuestas()"
            class="mx-1"
            color="color_base"
            dark
          >
            <v-icon>comment</v-icon>
            Consultar Respuestas</v-btn
          >
        </div>
      </v-card-actions>
    </v-card>

    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-toolbar height="40" dark color="color_base">
          {{ caption ? caption : "Archivo Adjunto" }}
        </v-toolbar>

        <v-card-text v-if="nombre_archivo">
          Nombre: {{ nombre_archivo }}
        </v-card-text>
        <v-card-text> tamaño: {{ formatearSize(size) }} </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="green darken-1" text @click="dialog = false">
            Cancelar
          </v-btn>

          <v-btn
            outlined
            small
            color="color_base"
            :href="
              'https://api.telegram.org/file/bot1443791001:AAEXjBjxiwLMXCLZusCk10jCVVaEU-n_430/' +
              this.path
            "
            target="_blank"
            >Descargar Archvio</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { db } from "@/firebase";
import axios from "axios";
export default {
  name: "contenido",
  data: () => ({
    dialog: false,
    codigos: [
      { name: "%FP001-UTEA%" },
      { name: "%FA001-UTEA%" },
      { name: "%FA002-UTEA%" },
      { name: "%FI002-UTEA%" },
    ],
    cuestionarios: [],
    codigo: "",
    evaluacion: [],
    respuestas: [],
    loading: false,
    cargando: false,
    vistarespuesta: false,
    idrespuesta: null,
    path: "",
    caption: "",
    nombre_archivo: "",
    size: 0,
    photo: [],
  }),

  methods: {
    async consultar() {
      try {
        this.cargando = true;
        const doc = await db
          .collection("databottelegram")
          .orderBy("detalles.poll")
          .get();
        doc.forEach((element) => {
          let data = element.data();
          this.cuestionarios.push(data);
        });
      } catch (error) {
        console.log(error);
      } finally {
        this.cargando = false;
      }
    },
    async filtro() {
      try {
        this.vistarespuesta = false;
        this.loading = true;
        const doc = await db
          .collection("databottelegram")
          .orderBy("detalles.message.text")
          .startAt(this.codigo)
          .limit(1)
          .get();
        doc.forEach((element) => {
          let data = element.data();
          this.evaluacion = data;
        });
        this.idrespuesta = this.evaluacion.detalles.message.message_id;
        await this.buscarRespuestas();
      } catch (error) {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },

    async buscarRespuestas() {
      try {
        this.respuestas = [];
        this.vistarespuesta = true;
        this.loading = true;

        const doc = await db
          .collection("databottelegram")
          .where(
            "detalles.message.reply_to_message.message_id",
            "==",
            this.idrespuesta
          )
          .get();

        doc.forEach((element) => {
          let data = element.data();
          this.respuestas.push(data);
        });
        this.$vuetify.goTo("#citas");
      } catch (error) {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },
    async consultarFile(response) {
      try {
        let id = null;
        this.caption = response.message.caption;
        if (response.message.document) {
          this.nombre_archivo = response.message.document.file_name;
          this.size = response.message.document.file_size;

          id = response.message.document.file_id;
        }
        if (response.message.photo) {
          this.nombre_archivo = response.message.photo[1].file_name;
          this.size = response.message.photo[1].file_size;

          id = response.message.photo[1].file_id;
        }

        this.dialog = true;
        await axios
          .get(
            "https://api.telegram.org/bot1443791001:AAEXjBjxiwLMXCLZusCk10jCVVaEU-n_430/getFile?file_id=" +
              id
          )

          .then((response) => {
            this.path = response.data.result.file_path;
          });
      } catch (error) {
        console.log(error);
      }
    },
    customFilter(item, queryText) {
      const textOne = item.name.toLowerCase();
      const searchText = queryText.toLowerCase();

      return textOne.indexOf(searchText) > -1;
    },
    formatearSize(bytes) {
      if (bytes >= 1073741824) {
        bytes = (bytes / 1073741824).toFixed(2) + " GB";
      } else if (bytes >= 1048576) {
        bytes = (bytes / 1048576).toFixed(2) + " MB";
      } else if (bytes >= 1024) {
        bytes = (bytes / 1024).toFixed(2) + " KB";
      } else if (bytes > 1) {
        bytes = bytes + " bytes";
      } else if (bytes == 1) {
        bytes = bytes + " byte";
      } else {
        bytes = "0 bytes";
      }
      return bytes;
    },
    async descargar() {
      const link =
        "https://api.telegram.org/file/bot1443791001:AAEXjBjxiwLMXCLZusCk10jCVVaEU-n_430/" +
        this.path;
      return link;
    },
    formatear(timestamp) {
      const a = new Date(timestamp * 1000);
      const months = [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Setiembre",
        "Octubre",
        "Noviembre",
        "Diciembre",
      ];
      const year = a.getFullYear();
      const month = months[a.getMonth()];
      const date = a.getDate();
      //const hour = a.getHours();
      //const min = a.getMinutes();
      //const sec = a.getSeconds();
      const time = date + " de " + month + " del " + year;
      return time;
    },
  },

  created() {
    this.consultar();
  },
};
</script>
 