<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        CUESTIONARIO DIFODS
      </div>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <Home/>
    </v-main>
  </v-app>
</template>

<script>
import Home from './views/Home';
export default {
  name: 'App',
  components: {
    Home,
  }
 
};
</script>


<template>
  <router-view />
</template>

<script>
  export default {
    name: 'App',
  }
</script>
<style>

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
     
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
     
}
 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;

}

::-webkit-scrollbar-track-piece{
    cursor:row-resize;
}
 
</style>


