<template>
  <v-layout justify-center>
    <v-flex xs12 sm8 md6 lg5 xl4 class="mt-4">
      <v-card>
        <v-toolbar class="elevation-6" color="color_base" dark>
          <v-layout justify-center>
            <v-toolbar-title>ACCEDER</v-toolbar-title>
          </v-layout>
        </v-toolbar>
        <v-card-text>
    
          <v-text-field
            filled
            label="Email"
            v-model="formulario.email"
            :error-messages="erroresEmail"
            @blur="$v.formulario.email.$touch()"
            autofocus
          ></v-text-field>
          <v-text-field
            filled
            label="Password" @keyup.enter="ingresar('email')"
            v-model="formulario.password"
            :error-messages="erroresPassword"
            @blur="$v.formulario.password.$touch()"
            type="password"
          ></v-text-field>

            <v-layout justify-center>
          <v-btn
            @click="ingresar('email')"
            :depressed="$v.formulario.$invalid"
            :disabled="$v.formulario.$invalid"
            color="color_base"
          >Acceder</v-btn>
        </v-layout>
        </v-card-text>
       
      </v-card>
      
      
    </v-flex>
  </v-layout>
</template>
<script>
import {
  required,
  email,
  minLength,
  maxLength
} from "vuelidate/lib/validators";
import { mapMutations, mapGetters } from "vuex";
import {  auth    } from "@/firebase";
export default {
  
  data() {
    return {
      formulario: {
        email: "alvaro@gmail.com",
        password: ""
      }
    };
  },

  validations: {
    formulario: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(50)
      }
    },
    emailEnvio: {
      required,
      email
    }
  },
  methods: {
    ...mapMutations([
      "mostrarOcupado",
      "ocultarOcupado",
      "mostrarExito",
      "mostrarAdvertencia",
      "mostrarError"
    ]),
    ...mapMutations("sesion", ["actualizarUsuario"]),
    ingresar(metodo) {
      switch (metodo) {
        case "email":
          this.ingresarEmail();
          break;
      }
    },

    async ingresarEmail() {

      if (this.$v.formulario.$invalid) {
        this.$v.formulario.$touch();
        return;
      }
      let ocupado = {
        titulo: "validando Credenciales",
        mensaje: "Estamos Verificando tus Credenciales..."
      };
      this.mostrarOcupado(ocupado);
      try {
        await auth.signInWithEmailAndPassword(
          this.formulario.email,
          this.formulario.password
        );
     
      } catch (error) {
        switch (error.code) {
          case "auth/user-not-found":
          case "auth/wrong-password":
            this.mostrarAdvertencia(
              "Usuario no Valido. Revisa tu correo y password"
            );
            break;

          default:
            this.mostrarError("Ocurrió un error validando la informacion");
            break;
        }
      } finally {
        this.ocultarOcupado();
      }
    },
 
 
  },
  computed: {
    ...mapGetters("sesion", ["saludo"]),
    erroresEmail() {
      let errores = [];
      if (!this.$v.formulario.email.$dirty) {
        return errores;
      }
      if (!this.$v.formulario.email.required) {
        errores.push("Ingresa tu Email");
      }
      if (!this.$v.formulario.email.email) {
        errores.push("Ingresa un Email Valido");
      }
      return errores;
    },
    erroresPassword() {
      let errores = [];
      if (!this.$v.formulario.password.$dirty) {
        return errores;
      }
      if (!this.$v.formulario.password.required) {
        errores.push("Ingresa tu Password");
      }
      if (!this.$v.formulario.password.minLength) {
        errores.push("Ingresa al menos 6 caracteres");
      }
      if (!this.$v.formulario.password.maxLength) {
        errores.push("Ingresa maximo 50 caracteres");
      }
      return errores;
    }
  }
};
</script>
